@charset "utf-8";

/* font for Sup*/
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
/* font for Quo*/
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
 
html, body{
    width : 100%;
    height : 100%;
}

body{
    font-family : 돋움, Dotum, sans-serif;
    
    line-height : 1.5;
    
    background : url('./JustDoIt.png') no-repeat fixed;
    background-size : cover;
    
    margin-top : 100px;
}

h1{
    color :darkorange;
    font-size : 50px;
    letter-spacing : 1px;
    word-spacing : 1px;
}

.Sup{
    color : crimson;
    font-size : 55px;
    font-family : 'Indie Flower', cursive;
    margin-left : 175px;
    margin-top : 60px;
    
    text-decoration : none;
}

.Quo{
    font-family : 'Shadows Into Light', cursive;
    font-size : 25px;
    letter-spacing : 10px;
    margin-left : 25px;
}

#Wrap{
    width : 800px;
    position : relative;
    left : 50%;
    margin-left : -400px;
    margin-top : 150px;
    padding : 20px;
    
    border : 1px solid #000;
    background-color : white;
   
}

#PageName{
    margin-left : 50px;
}

#Quotation{
    margin-left : 150px;
}

#Banner{
    width : 800px;
    height : 100px;
    
}