@charset "utf-8";
    
body{
    font-family : 돋움, Dotum, sans-serif;
    
    line-height : 1.5;
    
    background-image : url('./TotoroBg.jpg');
    background-size : cover;
}

h1{
    color :darkorange;
}

/*
.button{
    padding : 1em 1.5em;
}

*/